CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wpedantic,
    -Wconversion,
    -Wsign-conversion,
    -Wshadow,
    -Wold-style-cast,
    -Wnon-virtual-dtor,
    -Wuninitialized,
    -Werror,
  ]

Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*, 
      performance-*, 
      readability-*, 
      modernize-*, 
      concurrency-*, 
      portability-*,
      tautological-*,
      cppcoreguidelines-*,
      misc-*,
    ]